<p>
  login works!
</p>

<h1> login </h1>


<div class="mdl-grid site-copy">

    <form #ma="ngForm" (ngSubmit)="LoginManager(ma.value)"  class="form-contact" >
    
        <label for="name">Username</label>
        <input  [(ngModel)]="username" name="username"   type="text" ngModel required>
        <br/>
        <label for="name">Password</label>
        <input  [(ngModel)]="password" name="password" type="password" ngModel required>
        <br/>
     
        <input type="submit" value="login" >
      </form>
    
    
      </div>
    
