
<div class="mdl-card__title">
    <h1 class="mdl-card__title-text"> KIDS  </h1> 
    
    </div>

<!--

<form  (ngSubmit)="RegisterManager(ma.value)"  class="form-contact" >

    <input class="mdl-textfield__input"   name="email" type="email" ngModel required>
    <br/>
    <input class="mdl-textfield__input"   name="password" type="password" ngModel required>
    <br/>
    <input class="mdl-textfield__input"   name="username"   type="text" ngModel required>
    <br/>
    <input class="mdl-textfield__input"   name="name"   type="text" ngModel required>
    <br/>
    <input  class="mdl-textfield__input"  name="surnames"   type="text" ngModel required>
    <br/>
  
    <input type="submit" value="Register" >
  </form>
-->


<div class="mdl-grid site-copy">

<form #ma="ngForm" (ngSubmit)="RegisterManager(ma.value)"  class="form-contact" >

    <label for="name">Email</label>
    <input  [(ngModel)]="email" name="email" type="email" ngModel required>
    <br/>

    <label for="name">Password</label>
    <input  [(ngModel)]="password" name="password" type="password" ngModel required>
    <br/>
    <label for="name">Confimation Password</label>
    <input  [(ngModel)]="cpassword" name="cpassword" type="password" ngModel required>
    <br/>
    <label for="name">Username</label>
    <input  [(ngModel)]="username" name="username"   type="text" ngModel required>
    <br/>
    <label for="name">Name</label>
    <input  [(ngModel)]="name" name="name"   type="text" ngModel required>
    <br/>
    <label for="name">Surname</label>
    <input  [(ngModel)]="surnames" name="surnames"   type="text" ngModel required>
    <br/>
  
    <input type="submit" value="Register" >
  </form>
  
  <input type="submit" (click)="GetManager()" value="ver" >

  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  <br/>
  <br/>
  <br/>

  

    